@import 'variable';
.Plans{
    min-height: 100vh;
    background: radial-gradient(#e9810b5e,#303c40);
    #{&}-main{
        @include Flex(column,center,0px);
        position: relative;
        &-words{
            position: relative;
            margin: 80px 0px 20px 0px;
            font-size: 40px;
            font-weight: 800;
            color: white;
            text-transform: uppercase;

            &-span{
                margin: 0px 40px 0px 40px;
                color: transparent;
                background-color: transparent;
                -webkit-text-stroke: 2px lightgray;
            }
        }
        &-box{
            display: grid;
            grid-template-columns:repeat(auto-fit, minmax(100px, 240px));
            justify-content: center;
            text-align: left;
            width: 100%;
            row-gap: 20px;
            column-gap: 30px;
            margin-top: 20px;

            &-boxs{
                text-align: left;
                // background: linear-gradient(to right,#e38213,transparent);
                // background: linear-gradient(to right,#34444a81,rgba(211, 211, 211, 0.77));
                // background: linear-gradient(to right,#e38213c4,#34444a81);
                // background: conic-gradient(rgba(211, 211, 211, 0.77),#e38213c4);
                // background: linear-gradient(rgba(255, 68, 0, 0.641),#e38213e5);
                width: 240px;
                height: auto;
                background: rgb(79, 76, 76);
                filter: brightness(2px);
                padding: 15px 0px 15px 15px;
                border: none;
                border-radius: 5px;
                animation:  box 2s linear forwards;
                @keyframes box {
                    0%{
                        transform: translateX(-200px);
                    }
                }

                &-icon{
                    font-size: 25px;
                    margin-bottom: 20px;
                    color: lightgray;
                }

                &-h1{
                    text-transform: uppercase;
                    font-size: 12px;
                    font-weight: 800;
                    color: rgba(211, 211, 211, 0.955);
                    margin-bottom: 20px;
                }
                &-price{
                    font-size: 30px;
                    font-weight: 600;
                    color: lightgray;
                    margin-bottom: 20px;
                }
                &-div{
                    @include Flex2(column,20px);
                    position: relative;
                    &-icon{
                        @include Flex2(row,10px);
                        color: rgba(211, 211, 211, 0.921);
                        font-size: 16px;
                        font-weight: 500;
                    }
                    &-read{
                        position: relative;
                        color: rgba(211, 211, 211, 0.921);
                        font-size: 13px;
                        font-weight: 700;
                        margin-bottom: 20px;
                    }
                }
                &-btn{
                    position: relative;
                    width: 92%;
                    height: 35px;
                    border: none;
                    border-radius: 3px;

                    &:hover:before{
                        @include before;
                        width: 100%;
                        height: 100%;
                        border-radius: 3px;
                        top: 0px;
                        right: 0px;
                        background-color: rgb(246, 153, 72);
                        animation: color2 1.5s linear forwards;
                    }
                    @keyframes color2 {
                        0%{
                            width: 0%;
                        }
                        100%{
                            width: 100%;
                        }
                    }
                    &-a{
                        font-size: 16px;
                        font-weight: 600;
                        text-decoration: none;
                        color: rgba(0, 0, 0, 0.838);
                        @include text;
                        padding: 8px 0px;
                        &:hover{
                            color: white;
                            animation:  color1 0.8s linear forwards;
                        }
                        @keyframes color1 {
                            0%{
                                color: rgba(0, 0, 0, 0.838);
                            }
                            100%{
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }
}
.box-a{
    text-align: left;
    background: conic-gradient(rgba(211, 211, 211, 0.77),#e38213c4);
    background: linear-gradient(rgba(255, 68, 0, 0.641),#e38213e5);
    width: 240px;
    min-height: 300px;
    max-height: 410px;
    padding: 30px 0px 25px 15px;
    border: none;
    border-radius: 5px;
    margin-top: -18px;
    margin-left: 0px;
    margin-right: 0px;
    animation:  box1 2s linear forwards;
    @keyframes box1 {
        0%{
            transform: translateX(200px);
        }
    }
}

.arrow1{
    font-size: 18px;
    position: absolute;
    margin-left: 8px;
}