@import 'variable';
.Program{
    position: relative;
    @include Flex(column,center,0px);
    text-align: center;
    color: #fff;
    background-color: #2b363aea;
    &-main{
        min-height: 100vh;
        margin-top: 100px;
        margin-bottom: 10px;
        position: relative;

        &-explore{
            margin-top: 10px;
            text-transform: uppercase;
            font-size: 50px;
            font-weight: 600;
            word-spacing: 1px;
            margin-bottom: 50px;
            &-space{
                margin-right: 50px;
                margin-left: 50px;
                color: transparent;
                -webkit-text-stroke: 2px rgba(234, 228, 228, 0.716);
                background-color: transparent;
            }
        }
        &-box{
            // @include Flex(row,center,0px);
            display: grid;
            grid-template-columns:repeat(auto-fit, minmax(100px, 240px));
            justify-content: center;
            text-align: left;
            row-gap: 0px;
            column-gap: 20px;

            &-box1{
                width: 240px;
                height: auto;
                position: relative;
                padding: 20px 20px 10px 20px;
                text-align: left;
                margin-top: 20px;
                background-color: rgb(96, 96, 96);
                border: none;
                border-radius: 3px;
                overflow: hidden;
                transition: all 2s;

                &:hover::before{
                    @include before;
                    width: 240px;
                    top: 0px;
                    left: 0px;
                    height: 220px;
                    border-radius: 3px;
                    background-color: #e38213e1;
                    background: linear-gradient(to left,transparent, #e38213e1);
                    transition: all 2s;
                }

                &-p{
                    color: whitesmoke;
                    font-size: 14px;
                    font-weight: 600;
                    margin: 10px 0px 20px 0px;
                    filter: blur(0.1px);
                }
                &-p1{
                    @extend .Program-main-box-box1-p;
                    color: lightgray;
                    font-weight: 400;
                }
                &-btn{
                    position: relative;
                    padding: 0px 20px;
                    background-color: transparent;
                    border: none;
                    margin: -10px 0px 0px 0px;
                    width: 150px;
                    height: 40px;
                    border-radius: 10px;
                    transition: all 2s;
                    // overflow: hidden;
                    &:hover:before{
                        @include before;
                        top: 0px;
                        left: 0px;
                        width: 0%;
                        border-radius: 10px;
                        height: 100%;
                        background-color: whitesmoke;
                        background: linear-gradient(white,lightgray);
                        animation:  trans2 2s forwards linear;
                    }
                    @keyframes trans2 {
                        0%{
                            left: 0%;
                            width: 0%;
                        }
                        50%{
                            right: 50%;
                            width: 50%;
                        }
                        100%{
                            right: 100%;
                            width: 100%;
                        }
                    }
                    &-a{
                        text-decoration: none;
                        color: whitesmoke;
                        font-size: 14px;
                        font-weight: 600;
                        @include text;
                        text-align: left;
                        left: 5px;
                        &:hover{
                            color: #e38213e1;
                            text-align: center;
                            transition: all 1s ease-in-out;
                        }

                    }
                }
            }
        }
    }
}
.arrow{
    position: absolute;
    top: 10px;
    font-size: 20px;
    margin-left: 12px;
}
.Program-main-box-box1-icon{
    position: relative;
    font-size: 25px;
    color: #fff;
}
.bell{
    transform: rotate(-22deg);
}
