.Testimonials {
  text-align: center;
  background-color: sandybrown;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 0px;
  flex-direction: column;
}
.Testimonials .Testimonials-main {
  width: 100%;
  background-color: rgba(48, 60, 64, 0.8470588235);
  min-height: 100vh;
}
.Testimonials .Testimonials-main-h2 {
  margin: 80px 0px 20px 0px;
  color: #fff;
}
.Testimonials .Testimonials-main-all {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 20px;
  flex-direction: row;
  text-align: left;
  width: 100%;
  position: relative;
}
@media screen and (max-width: 600px) {
  .Testimonials .Testimonials-main-all {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    text-align: left;
  }
  .Testimonials .Testimonials-main-all-img {
    margin-top: 20px;
  }
}
.Testimonials .Testimonials-main-all-word {
  width: 100%;
  margin-left: 22px;
}
.Testimonials .Testimonials-main-all-word-p2 {
  margin: 15px 0px 30px 0px;
}
.Testimonials .Testimonials-main-all-word-l {
  overflow: hidden;
}
.Testimonials .Testimonials-main-all-img {
  width: 70%;
}
.Testimonials .Testimonials-main-all-img-section {
  position: relative;
  margin-top: -30px;
}
@media screen and (max-width: 600px) {
  .Testimonials .Testimonials-main-all-img-section {
    margin-top: 10px;
  }
}
.Testimonials .Testimonials-main-all-img-section-btn {
  margin: 180px 0px 30px 0px;
}
.Testimonials .Testimonials-main-all-img-section-btn-arrow, .Testimonials .Testimonials-main-all-img-section-btn-arrow1 {
  position: absolute;
  cursor: pointer;
  font-size: 22px;
  color: white;
  margin-left: -15px;
  font-weight: 800;
  border: none;
  background-color: transparent;
}
.Testimonials .Testimonials-main-all-img-section-btn-arrow1 {
  margin-left: 15px;
}
.Testimonials .Testimonials-main-all-img-input {
  margin-top: 0px;
  position: relative;
  background-color: rgba(189, 186, 186, 0.459);
  min-width: 200px;
  max-width: 300px;
  height: 50px;
  border-radius: 2px;
  padding: 0px 10px 0px 0px;
  display: flex;
  text-align: left;
  gap: 10px;
  flex-direction: row;
}
.Testimonials .Testimonials-main-all-img-input-active {
  position: relative;
  width: 100%;
}
.Testimonials .Testimonials-main-all-img-input-active-input {
  height: 100%;
  width: 100%;
  margin-right: 5px;
  background-color: transparent;
  font-size: 17px;
  font-weight: 500;
  color: white;
  border: none;
  outline: none;
}
.Testimonials .Testimonials-main-all-img-input-active-label {
  position: absolute;
  white-space: nowrap;
  transition: all 1s ease-in-out;
  left: 5px;
  top: 17px;
  width: 100%;
  font-size: 11px;
  font-weight: 600;
  color: white;
}
.Testimonials .Testimonials-main-all-img-input-btn {
  position: relative;
  width: 101px;
  height: 31px;
  margin-top: 9px;
  border: none;
  border-radius: 2px;
  background-color: #ed8309;
  outline: none;
}
.Testimonials .Testimonials-main-all-img-input-btn:hover::before {
  position: absolute;
  content: "";
  cursor: pointer;
  top: 0px;
  left: 0px;
  width: 100%;
  border: none;
  border-radius: 2px;
  height: 100%;
  background-color: whitesmoke;
  animation: trans1 1s forwards linear;
}
@keyframes trans1 {
  0% {
    width: 0%;
  }
}
.Testimonials .Testimonials-main-all-img-input-btn-a {
  position: absolute;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
  color: whitesmoke;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  padding: 12px 0px;
  position: absolute;
  padding: 7px 0px 0px 0px;
}
.Testimonials .Testimonials-main-all-img-input-btn-a:hover {
  color: #ed8309;
  animation: color 1.2s forwards linear;
}
@keyframes color {
  0% {
    color: whitesmoke;
  }
}
@media screen and (max-width: 380px) {
  .Testimonials .Testimonials-main-all-img {
    width: 100%;
  }
}

.Testimonials-section {
  position: relative;
  display: flex;
  text-align: left;
  gap: 0px;
  flex-direction: column;
}
.Testimonials-section-border1 {
  width: 123px;
  height: 3px;
  margin: 20px 0px 3px 0px;
  background-color: rgba(197, 122, 36, 0.9019607843);
  border: none;
  border-radius: 10px;
}
.Testimonials-section-span {
  display: flex;
  text-align: left;
  gap: 14px;
  flex-direction: row;
}

.footer {
  margin-top: 60px;
  position: relative;
  background: repeating-radial-gradient(rgba(227, 130, 19, 0.4470588235) 10%, rgba(52, 68, 74, 0.8431372549) 20%);
  height: 30vh;
}
.footer-border2 {
  width: 100%;
  height: 2.3px;
  background-color: rgba(211, 211, 211, 0.662);
  margin-bottom: 20px;
}
.footer .footer-icon {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
}
.footer .footer-icon-span {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 15px;
  flex-direction: row;
  margin-top: 25px;
}
.footer .footer-icon-span-a {
  text-decoration: none;
  color: rgba(211, 211, 211, 0.971);
  font-size: 25px;
}
.footer .footer-icon-span1 {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 10px;
  flex-direction: row;
  margin-top: 30px;
}
.footer .footer-icon-span1-p {
  font-size: 32px;
  font-weight: 600;
  font-family: "Times New Roman", Times, serif;
  color: rgba(211, 211, 211, 0.971);
}
.footer .footer-icon-span1-p1 {
  position: relative;
  color: rgba(211, 211, 211, 0.971);
  font-size: 14px;
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.footer .footer-icon-span1-p1-p {
  text-align: left;
}

.slider {
  position: relative;
  display: flex;
  overflow: hidden;
  width: 90%;
  height: 8vh;
  display: block;
}
.slider-contain {
  width: 100%;
  aspect-ratio: 7/2;
  object-fit: cover;
  animation: words-trans 1.5s linear forwards;
  font-size: 14px;
  font-weight: 500;
  color: lightgray;
  white-space: pre-line;
  line-height: 25px;
  width: 80%;
}
@media screen and (max-width: 800px) {
  .slider-contain {
    width: 100%;
  }
}
@keyframes words-trans {
  0% {
    transform: translateX(-200px);
  }
}

.flex {
  position: relative;
  display: flex;
  animation: words-trans 1.5s linear forwards;
}
@media screen and (max-width: 800px) {
  .flex {
    width: 100%;
  }
}
@keyframes words-trans {
  0% {
    transform: translateX(-200px);
  }
}

.flex-div {
  position: relative;
  display: flex;
  overflow: hidden;
  width: 15%;
  height: 4vh;
  display: block;
}
.flex-div-contain {
  width: 100%;
  aspect-ratio: 7/2;
  object-fit: cover;
  animation: words-trans 1.5s linear forwards;
  font-size: 15px;
  font-weight: 600;
  color: rgba(210, 126, 29, 0.8823529412);
  white-space: pre-line;
  line-height: 26px;
  width: 80%;
  margin-bottom: 10px;
}
@media screen and (max-width: 800px) {
  .flex-div-contain {
    width: 100%;
  }
}
@keyframes words-trans {
  0% {
    transform: translateX(-200px);
  }
}

.flex-div1 {
  position: relative;
  display: flex;
  overflow: hidden;
  width: 90%;
  height: 4vh;
  display: block;
}
.flex-div1-contain {
  width: 100%;
  aspect-ratio: 7/2;
  object-fit: cover;
  animation: words-trans 1.5s linear forwards;
  font-size: 14px;
  font-weight: 500;
  color: lightgray;
  white-space: pre-line;
  line-height: 25px;
  width: 80%;
}
@media screen and (max-width: 800px) {
  .flex-div1-contain {
    width: 100%;
  }
}
@keyframes words-trans {
  0% {
    transform: translateX(-200px);
  }
}

.all {
  animation: words-trans 200ms linear forwards;
}
@keyframes words-trans {
  0% {
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(0px);
  }
}

.Image {
  position: relative;
  height: 36vh;
  width: 109%;
  margin-top: -35px;
  margin-bottom: 30px;
  overflow: hidden;
}
.Image-div {
  position: relative;
  width: 195px;
  height: 220px;
  background-color: transparent;
  border: 3.2px solid rgba(227, 130, 19, 0.8823529412);
}
.Image-div::before {
  position: absolute;
  content: "";
  cursor: pointer;
  top: 34.5px;
  left: 30px;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(255, 68, 0, 0.877), #dc821a);
}
.Image-div-span {
  position: absolute;
  display: flex;
  top: 9px;
  left: 12px;
  width: 100%;
  height: 225px;
  gap: 10px;
  animation: trans-x 1.5s forwards linear;
}
@keyframes trans-x {
  0% {
    transform: translateX(200px);
  }
}
.Image-div-span-contain2 {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.Image-div-span-contain2:nth-child(2), .Image-div-span-contain2:nth-child(3), .Image-div-span-contain2:nth-child(4), .Image-div-span-contain2:nth-child(5), .Image-div-span-contain2:nth-child(6) {
  display: none;
}

.orange {
  font-size: 13px;
  font-weight: 800;
  color: rgba(210, 126, 29, 0.8823529412);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.what {
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
  color: transparent;
  background-color: transparent;
  -webkit-text-stroke: 2px rgba(211, 211, 211, 0.723);
  margin-bottom: 5px;
}

.what2 {
  color: whitesmoke;
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
}

.Testimonials-main-all-img-input-active-input:valid ~ .Testimonials-main-all-img-input-active-label,
.Testimonials-main-all-img-input-active-input:focus ~ .Testimonials-main-all-img-input-active-label {
  margin-top: -25px;
  left: 2px;
  font-size: 13px;
  transition: all 1s ease-in-out;
  background-color: gray;
  border-radius: 1px;
  width: 195px;
}

.Testimonials-main-all-img-section {
  display: flex;
  text-align: left;
  gap: 0px;
  flex-direction: row;
  column-gap: 45px;
  margin-top: 10px;
}/*# sourceMappingURL=Testimonials.css.map */