
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: Roboto,sans-serif;
    background-color:#303c40d8;
}

@media screen and (max-width:250px) {
    .font-all{
        font-size: 30px;
    }
}
